.v-search-bar-menu {
	&__container {
		width: 30vw !important;
		max-width: 300px !important;
	}

	&__title {
		text-align: center;
		font-size: 1rem;
		padding-bottom: 0.5rem;
	}

	&__item {
		font-size: 0.7rem !important;
	}

	&__loading {
		font-size: 0.7rem !important;
	}

	& ul.MuiList-root.MuiMenu-list.MuiList-padding {
		overflow: hidden;
	}
}
