.layout {
	width: 100%;
	padding: 2rem 0;

	&.layout--fluid {
		padding: 2rem 0;
	}
}

.flex {
	display: flex;
	

	&.align_center {
		align-items: center;
	}
	&.align_stretch {
		align-items: stretch;
	}

	&.justify_between {
		justify-content: space-between;
	}
}