@import 'functions';
@import 'variables';
@import 'layout';

/**
Fonts
**/

@font-face {
  font-family: 'Quattrocento';
  src: url(../assets/fonts/font-quattrocento/Quattrocento-Regular.ttf)
}

* {
  box-sizing: border-box;
  font-family: 'Quattrocento';
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
